*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #edd9c0;
}

#profile_image{
    border-radius: 100%;
    height: 60px;
    margin: 20px;
}

#profile_email{
    font-size: 18px;
    color: #333333;
}

#profile_email, #profile_image{
    display: inline-block;
    text-align: center;
    
}

#profile_email, #profile_name, .sign-out{
    color: #eeeeee !important;
}

#profile_name{
    text-align: center;
    transform: translateY(25%);
}

.page-header{
    background-color: #333333;
    margin: 0;
    border: none;
}

.page_header .custom_row{
    padding: 50px !important;
}

.jumbotron{
    border-radius: 0 !important;
    margin-top: 5%;
}

.container-fluid{
    padding: 0;
}

.abcRioButton.abcRioButtonLightBlue{
    margin: 0 auto;
}

#modal-trigger{
    border-radius: 0;
}

.sign-out{
    display: inline-block;
    position: absolute;

    top: 55%;
    left: 5%;

    font-size: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*  */
#map, #pano {
    position: absolute;
}

#pano{
    height: 89.5%;
    width: 100%;
    z-index: 5;
}

#map{
    height: 400px;
    width: 400px;
    z-index: 9;
}

.photo-container{
    position: relative;
    height: 89.5%;
    width: 450px;
    background-color: #f7e0be;
    top: 0;
    right: 0;
    z-index: 6;
    float: right;
    overflow-y: scroll;
}

.photo-container, #map, #pano, .page-header{
    display: none;
}

.my-photo{
    width: 100%;
    height: 300px;

    position: relative;
    z-index: 25;

    background-size: cover;
    background-position: center;
}