<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="334465367427-9dik5lmdmtp8q9o6q5q3pi1au2c3bq7r.apps.googleusercontent.com">
    <script src="{% static 'apicom/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apicom/index.css' %}">
    <title>Apicom</title>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaBi9YPsN-NmP57luCbJPqJWrPVRBPBt0">
    </script>
</head>
<body>
    <div class="page-header container-fluid">
        <div class="row" style="margin:0">
            <div class="col-md-8 col-xs-6">

            </div>
            <div class="col-md-4 col-xs-6"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="text-center">Hello, my name is Apicom</h1>
            <p class="text-center jumbo-desc">You can sign in here!</p>
            <button id="modal-trigger" type="button" class="btn btn-info btn-lg center-block" data-toggle="modal"
                    data-target="#login_modal">Sign In!</button>
        </div>
    </div>
    <div id="map"></div>
    <div id="pano"></div>
    <div class="photo-container">

    </div>

    <!-- Modal -->
    <div id="login_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Hehe, it looks like you're not logged in...</h4>
                </div>
                <div class="modal-body text-center">
                    <p>Try to login with your Google account.</p>
                    <div class="g-signin2 center-block" data-onsuccess="onSignIn" data-onfailure="onFail"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default center-block" data-dismiss="modal">Or Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>